    <div class="intro">
      <img src="./img/intro.png" alt="">
      <div >
        <h2 class="h21">牙菌斑是造成牙周病的主要原因</h2>
        <h2 class="h22">不僅造成牙齦炎(牙齦腫脹、流血)甚至是牙周炎</h2>
        <h2 class="h23">其影響會擴及牙周韌帶及骨頭</h2>
      </div>
    </div>
    <div class="cardarea">
      <a class="card" href="/intro1">
        <div class="imgarea">
          <img src="./img/intro1.jpeg" alt="">
        </div>
      
        <div class="descript">
          <h3>安炎寧口內炎漱劑</h3>
          <p>無酒精、無色素、有效抗菌、減少口腔感染、口臭情形</p>
        </div>
      </a>
      <a class="card" href="/intro2">
        <div class="imgarea">
          <img src="./img/intro2.png" alt="">
        </div>
        <div class="descript">
          <h3>樂利口抗炎凝膠</h3>
          <p>樂利口抗炎凝膠高效口腔抗菌、殺毒、不含酒精</p>
        </div>
      </a>
      <a class="card" href="/intro3">
        <div class="imgarea">
          <img src="./img/intro3.png" alt="">
        </div>
        <div class="descript">
          <h3>利口寧藥用牙膏</h3>
          <p>利口寧要用牙膏可以幫助減少牙菌斑。</p>
        </div>
      </a>
      <div class="card">
      
      </div>
    </div>